.App {
  text-align: center;
  background-color: lightgray;
  min-height: 100vh;
}

.navbar-container{
  position: fixed;
  width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
}

.head1{
  padding-top: 120px;
}
.top1{
  padding-top: 40px;
  padding-bottom: 1rem;
}